.header{
  width: 100%;
  height: 80px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 4px 5px black;
}
.header .links{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 2em;
}

.header .links a{
  color: black;
  text-decoration: none;
  padding: 20px;
  transition: all ease-in 0.3;
}

.header .links .active{
  background-color: rgba(0, 0, 255, 0.479);
  border-radius: 10px;
  font-weight: 500;
}
